body {
    text-align: left
}

button {
    margin: 30px;
    padding: 3px 12px 3 px 12px;
    border-radius: 20px;
    font-weight: bold;
    border: 0px solid;
    outline: none;
    background-color: #D9E8FB;
    color: #4D4D87;
}

img {
    width: 30%;
    float: left;
}

p, h3, button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a, em, strong {
    display: inline; /* this is the default value */
}

p, h2 {
    display: block; /* this is the default value */
}

button, img {
    display: inline-block; /* this is the default value */
}

#sidetag {
    padding: 5px;
    width: 120px;
    background-color: moccasin;
    position: absolute;
    right: 0px;
}

#derpycat {
    z-index: 0; 
    /* default z-value for layering elements */
}

#catcollage {
    float: left;
    width: 45%;
    height: 700px;
    background-color: antiquewhite;
    margin: 2%;
}

#catcollagetext {
    float: right;
    width: 50%;
    height: 700px;
}


#stretchingcat {
    position: relative;
    left: 5%;
    top: 6%;
    z-index: 3; 
    scale: 120%; 
}

#tiltheadcat {
    position: relative;
    left: 0%;
    top: 50%;
    z-index: 2;
    scale: 120%; 
}

#flowercat {
    position: relative;
    left: -5%;
    top: 25%;
    z-index: 1; 
    scale: 150%; 
}

.section1 {
    text-align: center;
    margin: 20px;
    border: 4px solid #7171a7;
    background-color: bisque;
    clear: both;
}

.section2 {
    text-align: center;
    margin: 20px;
    border: 2px dotted #fff020;
    background-color: rgb(196, 251, 255);
}

.section3 {
    text-align: left;
    margin: 20px;
    border: 4px solid #d8842f;
    clear: both;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.divitem {
    text-align: left;
    margin: 10px;
    border: 4px solid #7171a7;
}

.clear {
    clear: both;
}

.drop1 {
    display: inline-block;
    height: 80px;
    background-color: rgb(92, 214, 157);
}

.drop2 {
    position: relative;
    top: 80px
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.highlight {
    background-color: aliceblue;
}

.underline {
    text-decoration: underline;
}