body {
    text-align: left
}

button {
    margin: 30px;
    padding: 3px 12px 3 px 12px;
    border-radius: 20px;
    font-weight: bold;
    border: 0px solid;
    outline: none;
    background-color: #D9E8FB;
    color: #4D4D87;
}

img {
    width: 50%;
    float: left;
}

p, h3, button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a, em, strong {
    display: inline; /* this is the default value */
}

p, h2 {
    display: block; /* this is the default value */
}

button, img {
    display: inline-block; /* this is the default value */
}

.section1 {
    text-align: center;
    margin: 20px;
    border: 4px solid #7171a7;
    background-color: bisque;
    clear: both;
}

.section2 {
    text-align: center;
    margin: 20px;
    border: 2px dotted #fff020;
    background-color: rgb(196, 251, 255);
}

.clear {
    clear: both;
}

.drop {
    display: inline-block;
    height: 80px;
    background-color: rgb(92, 214, 157);
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.highlight {
    background-color: aliceblue;
}

.underline {
    text-decoration: underline;
}